<%- include('partials/header.ejs') %>

    <h1>Our Products</h1>

    <div class="products-grid">
        <% products.forEach(function(product) { %>
            <div class="product">
                <img class="thumbnail" src="images/laptop.jpeg">
                <h3><%= product.producer %></h3>
                <p class="name"><%= product.name %></p>
                <p class="price"><%= product.price %> zł</p>
                <form action="/cart/add/<%= product.id %>" method="POST">
                        <button type="submit">
                            Add to cart
                        </button>
                </form>
            </div>
        <% }); %>
    </div>

<%- include('partials/footer.ejs') %>